apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: run-tas-e2e
spec:
  description: "Deploys TAS, pushes a test image, and executes Sigstore E2E tests."
  params:
    - name: eaasSpaceSecretRef
      type: string
      description: "Secret reference for EaaS space"
    - name: clusterName
      type: string
      description: "Name of the ephemeral cluster"
    - name: oidcHostname
      type: string
      description: "The hostname for the OIDC provider"
    - name: oidc-issuer-url
      type: string
      description: "Trusted artifact signer issuer url"
    - name: TAS_DEPLOY_NAMESPACE
      type: string
      default: "sigstore-e2e-test"
      description: "Namespace where TAS is deployed"
  workspaces:
    - name: source-code
      description: "Workspace containing operator and sigstore-e2e code"
  results:
    - name: TEST_OUTPUT
      description: "Full JSON summary of test results"
  volumes:
    - name: credentials
      emptyDir: {}
  steps:
    - name: get-kubeconfig
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/konflux-ci/build-definitions.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/eaas-get-ephemeral-cluster-credentials/0.1/eaas-get-ephemeral-cluster-credentials.yaml
      params:
        - name: eaasSpaceSecretRef
          value: $(params.eaasSpaceSecretRef)
        - name: clusterName
          value: "$(params.clusterName)"
        - name: credentials
          value: credentials

    - name: install-tas
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/securesign/pipelines.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/integration-test/install-tas.yaml
      params:
        - name: credentials
          value: credentials
        - name: KUBECONFIG
          value: "$(steps.get-kubeconfig.results.kubeconfig)"
        - name: workdir
          value: $(workspaces.source-code.path)/operator
        - name: tas-namespace
          value: "$(params.TAS_DEPLOY_NAMESPACE)"
        - name: OIDC_ISSUER_URL
          value: "$(params.oidc-issuer-url)"
    - name: push-test-image
      image: quay.io/konflux-ci/buildah-task:latest@sha256:ad6b1781824e7fdcc75b0f7a608c78b4f23447cd0a7a7aced6123d8640211aed
      results:
        - name: image
      securityContext:
        capabilities:
          add: ["SETFCAP"]
      script: |
        #!/bin/sh
        IMAGE=ttl.sh/test-$(date +%Y%m%d%H%M%S%N):latest
        printf "%s" "$IMAGE" > "$(step.results.image.path)"
        buildah pull alpine:latest
        buildah tag alpine:latest $IMAGE
        buildah push $IMAGE
    - name: prepare-tas-e2e
      image: registry.redhat.io/openshift4/ose-cli
      volumeMounts:
        - name: credentials
          mountPath: /credentials
      env:
        - name: KUBECONFIG
          value: "/credentials/$(steps.get-kubeconfig.results.kubeconfig)"
        - name: TASNAMESPACE
          value: "$(params.TAS_DEPLOY_NAMESPACE)"
        - name: OIDC_ISSUER_URL
          value: "$(params.oidc-issuer-url)"
      workingDir: $(workspaces.source-code.path)/sigstore-e2e
      script: |
        oc project $TASNAMESPACE
        ./tas-env-variables.sh > .env
    - name: execute-tas-e2e
      image: registry.redhat.io/ubi9/go-toolset:9.7@sha256:2bb1fe3e239c0085cdaac1de3d50b44fcdc12ccc8360c8e49eeaeca09a5a072c
      volumeMounts:
        - name: credentials
          mountPath: /credentials
      onError: continue
      env:
        - name: OIDC_HOST
          value: "$(params.oidcHostname)"
        - name: KUBECONFIG
          value: "/credentials/$(steps.get-kubeconfig.results.kubeconfig)"
        - name: CLI_STRATEGY
          value: "openshift"
        - name: TARGET_IMAGE_NAME
          value: "$(steps.push-test-image.results.image)"
        - name: MANUAL_IMAGE_SETUP
          value: "true"
      workingDir: $(workspaces.source-code.path)/sigstore-e2e
      script: |
        #!/bin/bash
        set -x
        echo "Add certificate to ca-bundle.crt"
        openssl s_client -connect "$OIDC_HOST:443" -showcerts </dev/null > /tmp/ssl.cert
        sed -ni '/-----BEGIN CERTIFICATE-----/,/-----END CERTIFICATE-----/p' /tmp/ssl.cert
        cat /tmp/ssl.cert >> /etc/pki/tls/certs/ca-bundle.crt
        
        echo "Run tests"
        mkdir -p $(workspaces.source-code.path)/dump/sigstore-e2e
        set -o allexport && source ./.env && set +o allexport
        go mod vendor
        # exclude UI and benchmark tests 
        go test -v $(go list ./test/... | grep -v rekorsearchui | grep -v benchmark) --ginkgo.v -json \
        > $(workspaces.source-code.path)/dump/sigstore-e2e/test-result.json
      securityContext:
        runAsUser: 0
    - name: process-test-results
      ref:
        resolver: git
        params:
          - name: url
            value: https://github.com/securesign/pipelines.git
          - name: revision
            value: main
          - name: pathInRepo
            value: stepactions/integration-test/process-go-test-results.yaml
      params:
        - name: test_output_file
          value: $(workspaces.source-code.path)/dump/sigstore-e2e/test-result.json
