apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: go-unit-test
  annotations:
    tekton.dev/title: "Go Unit Test Task"
spec:
  workspaces:
    - name: source
  params:
    - description: The go command used to run the go unit test
      name: GO_TEST_COMMAND
      type: string
      default: go test ./...
    - description: The Go base image used to run the unit tests
      name: GO_BASE_IMAGE
      type: string
      default: registry.redhat.io/ubi9/go-toolset:9.7@sha256:2bb1fe3e239c0085cdaac1de3d50b44fcdc12ccc8360c8e49eeaeca09a5a072c
  steps:
    - name: run-tests
      image:  $(params.GO_BASE_IMAGE)
      workingDir: $(workspaces.source.path)/source
      script: |
        #!/usr/bin/env sh
        go mod vendor
        $(params.GO_TEST_COMMAND)
