- op: add
  path: /spec/resources/-
  value:
    apiVersion: appstudio.redhat.com/v1beta2
    kind: IntegrationTestScenario
    metadata:
      labels:
        test.appstudio.openshift.io/optional: "false"
      name: "ansible-e2e-test{{.nameSuffix}}"
    spec:
      application: "{{.application}}{{.nameSuffix}}"
      contexts:
        - description: runs molecule and go-e2e test suite on ansible collection
          name: application
      params:
        - name: releaseBranch
          value: "{{.branch}}"
        - name: molecule_scenarios
          value: "{{.scenarios}}"
      resolverRef:
        params:
          - name: url
            value: https://github.com/securesign/pipelines.git
          - name: revision
            value: main
          - name: pathInRepo
            value: pipelines/integration-test/ansible.yaml
        resolver: git
        resourceKind: pipelinerun
- op: add
  path: /spec/resources/-
  value:
    apiVersion: appstudio.redhat.com/v1beta2
    kind: IntegrationTestScenario
    metadata:
      labels:
        test.appstudio.openshift.io/optional: "false"
      name: "ansible-upgrade-test{{.nameSuffix}}"
    spec:
      application: "{{.application}}{{.nameSuffix}}"
      contexts:
        - description: runs molecule upgrade test on ansible collection
          name: >-
            {{- if eq .version "v1.2" -}}
            disabled
            {{- else -}}
            application
            {{- end -}}
      resolverRef:
        params:
          - name: url
            value: https://github.com/securesign/pipelines.git
          - name: revision
            value: main
          - name: pathInRepo
            value: pipelines/integration-test/ansible-upgrade.yaml
        resolver: git
        resourceKind: pipelinerun
